/**********************************************
custom classes
**********************************************/


// center vertically and horizontally
.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// vue-forms
.form-control-feedback + .has-error {
  color: #a94442;
}

.vf-field-touched {
  .form-control-feedback {
    top: 25px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// breadcrumbs
.breadcrumb.breadcrumb-below {
  position: relative;
  margin-top: 5px;
  top: 0;
  right: 0;
  float: none;
  background: #d2d6de;
  padding-left: 10px;
}

/**********************************************
vue-tables-2
**********************************************/
.VueTables__child-row-toggler {
  width:16px;
  height:16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before  {
  content: "-";
}
