/**********************************************
custom classes
**********************************************/


// center vertically and horizontally
.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// vue-forms
.form-control-feedback + .has-error {
  color: #a94442;
}

.vf-field-touched {
  .form-control-feedback {
    top: 25px;
  }
}

.vf-field-touched {
  .input-group {
    .form-control-feedback {
      top: 15%;
    }
  }
}

.VuePassword + div {
  .glyphicon {
    right: 25px;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// breadcrumbs
.breadcrumb.breadcrumb-below {
  position: relative;
  margin-top: 5px;
  top: 0;
  right: 0;
  float: none;
  background: #d2d6de;
  padding-left: 10px;
}


// flash/bootstrap alerts
// Basic Colors
$base-primary:          #3498db;    // Base primary color
$color-primary:         #2196f3;    // Primary color
$color-secondary:       #eeeeee;    // secondary color
$color-default:         #eeeeee;    // Default color
$color-success:         #5cb85c;    // Success color
$color-info:            #5bc0de;    // Info color
$color-yellow:          #f0ad4e;    // Warning color
$color-red:             #d9534f;    // Danger color

.flash-message .alert {
  padding: 12px;
  border:0;
  border-radius: 0px;
}

.flash-message .alert-warning {
  background-color: $color-yellow;
  border:0;
  color: white;
}

.flash-message .alert-success {
  background-color: $color-success;
  border:0;
  color: white;
}

.flash-message .alert-danger {
  background-color: $color-red;
  border:0;
  color: white;
}

.flash-message .alert-info {
  background-color: $color-info;
  border:0;
  color: white;
}

/**********************************************
vue-tables-2
**********************************************/
.VueTables__child-row-toggler {
  width:16px;
  height:16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before  {
  content: "-";
}
